@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
   --fonte-padrao: "open sans", Arial, Helvetica, sans-serif;
}

::before,
::after {
  box-sizing: border-box;
}
body{
  font-family: var(--fonte-padrao);
}
.logo-header img{
  width: 150px;
  height: 75px;
  cursor: pointer;
  margin-left: 100px;

}

li,a,button{
  font-family: var(--fonte-padrao);
  font-weight: 500;
  font-size: 16px;
  color:black;
  text-decoration: none;
}
header{
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding:20px 0%;
}
.nav_links{
  list-style: none;
  display:flex;
  justify-content: flex-end;
  padding-left: 600px;
}
.nav_links li{
  padding: 0px 20px;
  display: inline-block;
}
.nav_links li a{
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
  color:rgb(0, 21, 255);
}

button{
  margin-right: 75px;
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border:none;
  border-radius:50px ;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  
}
button:hover{
  background-color: rgba(0,136,169,0.8);
}

/* ======================= START FOOTER ======================= */
footer {
  padding: 2rem;
  background-color: antiquewhite;
  font-size: 12px;
}

footer a {
  font-size: 12px;
}

footer .footer-container .footer-up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

footer .footer-container .footer-up img {
  width: auto;
  height: 60px;
}

footer .footer-container .footer-up p {
  margin-bottom: 0.3rem;
}

footer .footer-container .footer-up .footer-up-right {
  display: flex;
}

footer .footer-container .footer-up .footer-up-right .footer-contacts {
  display: block;
  margin: 0 2rem;
}

footer .footer-container .footer-line {
  height: 1px;
  width: 100%;
  background-color: black;
}

footer .footer-container .footer-down {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
}

footer .footer-container .footer-down .footer-down-right {
  display: flex;
  align-items: center;
}

footer .footer-container .footer-down .footer-down-right a {
  margin-left: 1rem;
}

footer .footer-container .footer-down .footer-down-right img {
  width: 30px;
}

