@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --fonte-padrao: "open sans", Arial, Helvetica, sans-serif;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-padrao);
}

li,
a,
button {
  font-family: var(--fonte-padrao);
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

/* ======================= START HEADER ======================= */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  z-index: 9999;
  /*--border:5px solid #04b8ff;*/
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
}

header nav {
  display: flex;
}

.nav_links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

header .nav_links li {
  padding: 0px 15px;
  padding-top: 10px;
  display: inline-block;
}

header .nav_links li a {
  transition: all 0.3s ease 0s;
}

header .nav_links li a:hover {
  color: rgb(0, 21, 255);
}

header .logo-header img {
  width: 150px;
  height: 75px;
  cursor: pointer;
  margin-left: 100px;
}

button {
  margin-right: 75px;
  padding: 9px 25px;
  background-color: #18A0FB;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  font-size: 14px;
}

button:hover {
  background-color: #18A0FB;
}

/* ======================= START HOME-PAGE ======================= */
.home-page-background {
  width: 100%;
  height: 100vh;
  display: flex;
}

.home-page-content-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: start;
  /*border:5px solid #ff0400;*/
}

.home-page-content-right {
  width: 50%;
  height: 100%;
  /*border:5px solid #00ff0d;*/
  background-image: url("../img/Course-Homepage.jpeg");
  background-position: center;
  background-size: cover;
}

.home-page-left-box {
  /*border:5px solid purple;*/
  margin-bottom: 75px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.homepage-left-box-text {
  font-size: 35px;
}

.home-page-left-box-date {
  font-size: 16px;
}

.countdown {
  display: flex;
  gap: 20px;
  text-align: center;
}
/* ======================= WHAT IS BEST COURSE ======================= */
.best-background {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  
}
.best-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:50px;
}
.best-text-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
}
.best-text-1-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:5px;
  
}
.best-text-1-line{
  height: 4px;
  width: 368px;
  background-color: black;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  
}
.best-text-1{
  font-size: 20px;
}
.best-text-2{
  height: auto;
  width: 800px;
  text-align: center;
  font-size: 17px;
}
.best-imagens{
  display: flex;
  gap:50px;
}
.best-imagem-1{
    width: 335px; 
    height: 200px; 
    background-color: rgba(147, 255, 149, 0.334);
    border: 5px rgba(147, 255, 149, 0.334);
    border-radius: 10px;
    background-image: url("../img/image-11.png");
    background-size: cover; 
    background-position: center;
}
.best-imagem-2{
    width: 335px; 
    height: 200px; 
    background-color: rgba(80, 161, 255, 0.459);
    border: 5px  rgba(80, 161, 255, 0.459);
    border-radius: 10px;
    background-image: url("../img/image-12.png");
    background-size: cover; 
    background-position: center;
}
.best-imagem-3{
  width: 335px; 
  height: 200px;  
  background-color: rgba(255, 217, 147, 0.586);
  background-image: url("../img/image-13.png");
  background-size: cover; 
    background-position: center;
}
.best-imagem-verde{
  width: 335px; 
  height: 200px;  
  background-color: rgba(76, 173, 6, 0.7);
  border: 5px  rgba(76, 173, 6, 0.7);
  border-radius: 10px;
}
.best-imagem-azul{
  width: 335px; 
  height: 200px;  
  background-color: rgba(27, 83, 252, 0.55);
  border: 5px  rgba(27, 83, 252, 0.55);
  border-radius: 10px;

}
.best-imagem-laranja{
  width: 335px; 
  height: 200px;  
  background-color: rgba(200, 130, 9, 0.65);
  border: 5px  rgba(200, 130, 9, 0.65);
  border-radius: 10px;

}
.best-imagem-verde {
  display: flex;
  align-items: center;
  
}
.best-imagem-azul {
  display: flex;
  align-items: center;
  
}
.best-imagem-laranja {
  display: flex;
  align-items: center;
  
}

.best-verde-box {
 display: flex;
 flex-direction: column;
 margin-top: 20px;
 margin-left:28px ;
 margin-right:130px ;
 margin-bottom: 20px;
 
 gap: 10px;
}
.best-texto-1-verde,.best-texto-2-verde {
  color:white;
  font-size:11px;
}
.best-simbolo-verde{
  background-image: url("../img/graduation-cap.png");
  background-size: cover; 
  background-position: center;
  margin-top: 28px;
  width: 55px;
  height: 55px;
}
.best-texto-2-verde{
  margin-bottom: 15px;
}
.best-azul-box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left:28px ;
  margin-right:130px ;
  margin-bottom: 20px;
  
  gap: 10px;
 }
 .best-texto-1-azul,.best-texto-2-azul {
   color:white;
   font-size:11px;
 }
 .best-simbolo-azul{
   background-image: url("../img/world.png");
   background-size: cover; 
   background-position: center;
   margin-top: 28px;
   width: 55px;
   height: 55px;
 }
 .best-texto-2-azul{
   margin-bottom: 15px;
 }
 .best-laranja-box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left:28px ;
  margin-right:130px ;
  margin-bottom: 20px;
  
  gap: 10px;
 }
 .best-texto-1-laranja,.best-texto-2-laranja {
   color:white;
   font-size:11px;
 }
 .best-simbolo-laranja{
   background-image: url("../img/support.png");
   background-size: cover; 
   background-position: center;
   margin-top: 28px;
   width: 55px;
   height: 55px;
 }
 .best-texto-2-laranja{
   margin-bottom: 15px;
 }
 @media only screen and (max-width: 1131px) {
  .best-imagens{
    flex-direction: column;
  }
 }
 @media only screen and (max-width: 812px) {
  .best-box{
    width: 90%;
  }
  .best-text-1{
    font-size: 17px;
  }
  .best-text-2{
    height: auto;
    text-align: center;
    width: auto;
    font-size: 16px;
  }
  .best-imagem-1,.best-imagem-2,.best-imagem-3,.best-imagem-verde,.best-imagem-azul,.best-imagem-laranja{
    width: auto; 
  }
  .best-imagens{
    width: 300px;
  }
 }
 @media only screen and (max-width: 765px) {
  .best-box{
    width: 90%;
  }
  .best-text-1{
    font-size: 15px;
  }
  .best-text-2{
    height: auto;
    text-align: center;
    width: auto;
    font-size: 16px;
  }
  .best-imagem-1,.best-imagem-2,.best-imagem-3,.best-imagem-verde,.best-imagem-azul,.best-imagem-laranja{
    width: auto; 
  }
  .best-imagens{
    width: 275px;
  }
 }
 @media only screen and (max-width: 553px) {
  .best-box{
    width: 90%;
  }
  .best-text-1{
    font-size: 13.5px;
  }
  .best-text-2{
    height: auto;
    text-align: center;
    width: auto;
    font-size: 15px;
  }
  .best-imagem-1,.best-imagem-2,.best-imagem-3,.best-imagem-verde,.best-imagem-azul,.best-imagem-laranja{
    width: auto; 
  }
  .best-imagens{
    width: 245px;
  }

 }
 


.countdown1 {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius: 5px;
}

.countdown1 .countdown1-number {
  margin-top: 10px;
  font-size: 26px;
}

.countdown1 .countdown1-number-text {
  margin-top: 5px;
  font-size: 12px;
}

/* ======================= START TEAM ======================= */
.team {
  padding: 6rem 0 8rem;
  font-family: var(--fonte-padrao);
}
.team .team-container {
  display: block;
}
.team .team-container .title-team h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 600;
}

.team .team-container .team-box {
  width: 48.7rem;
  margin: auto;
}

.team .team-container .team-box ul {
  list-style-type: none;
  margin: auto;
}

.team .team-container .team-box li {
  width: 14rem;
  height: 19rem;
  margin: 1rem;
  display: inline-block;
  flex-direction: column;
  border-radius: 0 25px 0 25px;
  justify-content: space-between;
  position: relative;
  transition: 0.6s;
}

.team .team-container .team-box #team-member {
  width: 14rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0 25px 0 25px;
}

.team .team-container .team-box .team-info {
  padding: 1rem;
  border-radius: 0 25px 0 25px;
  height: 0;
  transition: 0.6s;
}

.team .team-container .team-box .team-info .team-redes-sociais img {
  width: 20px;
  margin-right: 0.2rem;
  transition: 0.1s;
}

.team .team-container .team-box .team-info p {
  font-size: 14px;
  margin-top: 0.3rem;
}

.team .team-container .team-box .team-desc {
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.team .team-container .team-box .team-desc-box {
  border: 1px solid black;
  width: max-content;
  padding: 0.3rem 0.7rem;
  border-radius: 30px;
}

.team .team-container .team-box .team-desc p {
  margin-top: 5px;
  font-size: 14px;
  color: #383838;
}

.team .team-container .team-box li:hover .team-info {
  background-color: #18A0FB;
  height: 19rem;
}

.team .team-container .team-box li:hover #team-member {
  visibility: hidden;
}

.team .team-container .team-box .team-info .team-redes-sociais img:hover {
  transform: scale(1.05);
}

/* ======================= START APPLY ======================= */
.apply {
  text-align: center;
  margin: auto;
  padding-bottom: 6rem;
}

.apply .apply-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
}

.apply .apply-countdown {
  width: max-content;
  margin: 1.5rem auto;
}

.apply .apply-check-social-media p {
  font-size: 26px;
  margin: 4rem 0 0.8rem;
  font-weight: 100;
}

.apply .apply-check-social-media img {
  width: 25px;
  margin: 0.5rem;
}

.apply button {
  margin: 0;
}

/* ======================= START FOOTER ======================= */
footer {
  padding: 2rem;
  background-color: antiquewhite;
  font-size: 12px;
}

footer a {
  font-size: 12px;
}

footer .footer-container .footer-up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

footer .footer-container .footer-up img {
  width: auto;
  height: 60px;
}

footer .footer-container .footer-up p {
  margin-bottom: 0.3rem;
}

footer .footer-container .footer-up .footer-up-right {
  display: flex;
}

footer .footer-container .footer-up .footer-up-right .footer-contacts {
  display: block;
  margin: 0 2rem;
}

footer .footer-container .footer-line {
  height: 1px;
  width: 100%;
  background-color: black;
}

footer .footer-container .footer-down {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
}

footer .footer-container .footer-down .footer-down-right {
  display: flex;
  align-items: center;
}

footer .footer-container .footer-down .footer-down-right a {
  margin-left: 1rem;
}

footer .footer-container .footer-down .footer-down-right img {
  width: 30px;
}
/* ======================= GALLERY ======================= */
.best-gallery{
  display: flex;
  flex-direction: column;
  gap:15px;
  padding: 5rem 0;
}
.best-galley-text{
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.best-galley-text h1{
  font-size: 28px;
}
.best-gallery-buttons{
  background-color:rgb(232, 232, 232) ;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.best-gallery-below{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:15px;
}
.best-gallery-buttons button {
  margin: 0;
  width: 260px; 
  height: 45px;
  color:black;
  background-color: rgb(232, 232, 232);
  transition: background-color 0.3s;
}
.best-gallery-buttons button:hover {
  background-color: rgb(189, 189, 189);
  border-radius: 5px;
}
.best-gallery-image-row,.best-gallery-image-row-2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:50px;
}
.best-gallery-image-1,.best-gallery-image-2,.best-gallery-image-3,.best-gallery-image-4,.best-gallery-image-5,.best-gallery-image-6{
  width: 400px; 
  height: 225px; 
  background-color: rgb(202, 202, 202);
  border-radius: 10px;
}
.best-gallery-images{
  display: flex;
  flex-direction: column;
  gap:15px;
}
/* ======================= WHAT IS BEST COIMBRA ======================= */
.best-coimbra{
  display: flex;
  flex-direction: column;
  gap:50px;
  padding: 5rem 0;
}
.best-coimbra-title{
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.best-coimbra-title h1{
  font-size: 35px;
}
.best-coimbra-below{ 
 margin: auto;
 width: 70rem;
 display: flex;
 justify-content: center; 
 align-items: center;
 padding: 0 8rem;
 
}
.best-coimbra-image{
  width: 40%;
}
.best-coimbra-image img{
  height: auto;
  width: 100%;
  border-radius: 5px;
}
.best-coimbra-text{
  width: 60%;
  padding: 0 3rem;

}
@media only screen and (max-width: 1120px) {
  .best-coimbra-below{
    display: flex;
    align-items: center;
    gap:50px;
    flex-direction: column;
    width: 60rem;
  }
  .best-coimbra-image{
    display: inline-block;
    width: 50%;
  }
}
@media only screen and (max-width: 965px) {
  .best-coimbra-below{
    width: 50rem;
  }
  .best-coimbra-image{
    display: inline-block;
    width: 60%;
  }
  .best-coimbra-text{
    width: 90%;
    padding: 0 0rem;
}
}
@media only screen and (max-width: 805px) {
  .best-coimbra-below{
    width: 40rem;
  }
  .best-coimbra-image{
    display: inline-block;
    width: 90%;
  }
  .best-coimbra-text{
    width: 90%;
    padding: 0 0rem;
}
}
@media only screen and (max-width: 639px) {
  .best-coimbra-below{
    width: 35rem;
  }
  .best-coimbra-image{
    display: inline-block;
    width: 90%;
  }
  .best-coimbra-text{
    width: 100%;
    padding: 0 0rem;
}
}
@media only screen and (max-width: 559px) {
  .best-coimbra-below{
    width: 28rem;
  }
  .best-coimbra-image{
    display: inline-block;
    width: 300px;
  }
  .best-coimbra-text{
    width: 100%;
    font-size: 15px;
    padding: 0 0rem;
}
  .best-coimbra-title h1{
    font-size: 28px;
}
}



